.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}
/* Login/Register Page  */
#loginContainer{
	text-align: center;
}
#loginContainer label{
	display: block;
}

#loggedInContainer{
	text-align: center;
}

#ContactSearch{
	text-align: center;
}

.Reg{
	visibility:hidden;
}

.SignIn{
	visibility:visible;
}

#loginButton,
#SignHyper,
#RegHyper{
	margin: 0 30px 0 30px;
}

/* Contact Page  */



#contactPageContainer{
  visibility:hidden;

  height: 100%;
  min-height:950px;
  max-width: 1100px;
  min-width:860px;
}

#contactSearchArea{
	max-height: 7em;
	min-height: 7em;
	padding:1em 0.5em 1em 0.5em;
}

#contactFieldsArea{
  max-height: 40em;

}

#contactFields{
	height:1.7em
}

#contactHeader
{
	padding:0.2em 3em 0.3em;
	height: auto;
}
#contactHeader #userFullName
{
	color:red;
}

.coloumn{	
	/*padding: 0 1em 0 1em;*/
}

#contactViewer{
  min-height:14em;
  max-height:14em;
  padding: 0.5em;
}
#contactViewer span{
	width=100%;
}
#contactViewer span[fill="name"]{
  font-size: 2em;
  font-weight: bold;
  
}
#contactViewer span[fill="phone"],
#contactViewer span[fill="email"]{
  font-size: 1em;
  color:gray;
  font-weight: italic;  
}
#contactViewer span[fill="address"]{
  font-size: 1.2em;
  font-weight: italic; 
 
}
#contactViewer span[fill="city"]{
  font-size: 1.2em;
  font-weight: italic;  
}
#contactViewer span[fill="state"]{
  font-size: 1.2em;
  font-weight: italic;  
}
#contactViewer span[fill="zipcode"]{
  font-size: 1.2em;
  font-weight: italic;  
}

#contactListBox{
	padding-top:1em;
	overflow-y: scroll;
	max-height: calc(100% - 14em);
	max-height: -moz-calc(100% - 14em);
	max-height: -webkit-calc(100% - 14em);
	height: calc(100% - 14em);
	height: -moz-calc(100% - 14em);
	height: -webkit-calc(100% - 14em);
}

.contactFields
{
	margin: 5px 0 5px 0;
	
}

.contactCard
{
	width:90%;
	height:auto;
	padding:0.5em 1em 0.5em 2em;
	margin:2px 0px 2px 0px;
	font-variant:small-caps;
	font-size:1.2em;
}
