body{
	background-color:#e0e2e5;
}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}
/* Login/Register Page  */
#loginContainer{
	background-color:#b8babc;
	border:3px solid #eeeeee;
	border-radius:15px;
	margin-top:10%;
	margin-bottom:auto;
	text-align: center;
	
	visibility:visible;
	display:block;
	
	min-width:320px;
	max-width:600px;
}
#loginContainer label{
	display: block;
}

#loggedInContainer{
	text-align: center;
}

#ContactSearch{
	text-align: center;
}

.Reg{
	visibility:hidden;
}

.SignIn{
	visibility:visible;
}


#SignHyper,
#RegHyper{
	margin: 0 30px 0 30px;

}
#loginButton{
	margin: 0 30px 0 30px;
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
	font-weight:bold;
	color:white;
}

/*
#SignHyper a,
#RegHyper a{
	padding: 0px 0.75rem 0px 0.75rem;
	background-color:#ffffff;
}
*/

/* Contact Page  */

#contactError{
	color:red;
	font-weight: bold;
	font-size: 2rem;
}

#contactPageContainer{
	visibility:hidden;
	display:none;

  height: 100%;
  min-height:950px;
  max-width: 1100px;
  min-width:860px;
}

#contactSearchArea{
	max-height: 7rem;
	min-height: 7rem;
	padding:1rem 0.5rem 0.2rem 0.5rem;
}

#contactFieldsArea{
  max-height: 40rem;

}

#contactFields{
	height:1.7rem
}

#contactHeader
{
	padding:0.2rem 3rem 0.3rem;
	height: auto;
}
#contactHeader #userFullName
{
	color:red;
}

.coloumn{	
	/*padding: 0 1rem 0 1rem;*/
}

#inputSearch{
	margin-bottom: 0.5rem;
}

#inputCState{
	width:40%;
}

#contactViewer{
  min-height:14rem;
  max-height:14rem;
  padding: 0.5rem;
}
#contactViewer span{
	width=100%;
}
#contactViewer span[fill="name"]{
  font-size: 2rem;
  font-weight: bold;
  
}
#contactViewer span[fill="phone"],
#contactViewer span[fill="remail"]{
  font-size: 1rem;
  color:gray;
  font-weight: italic;  
}
#contactViewer span[fill="address"]{
  font-size: 1.2rem;
  font-weight: italic; 
 
}
#contactViewer span[fill="city"]{
  font-size: 1.2rem;
  font-weight: italic;  
}
#contactViewer span[fill="state"]{
  font-size: 1.2rem;
  font-weight: italic;  
}
#contactViewer span[fill="zipcode"]{
  font-size: 1.2rem;
  font-weight: italic;  
}

#contactListBox{
	padding-top:1rem;
	overflow-y: scroll;
	max-height: 50rem;
	height: calc(100% - 14rem);
	height: -moz-calc(100% - 14rem);
	height: -webkit-calc(100% - 14rem);
}

.contactFields
{
	margin: 5px 0 5px 0;
	
}

.contactCard
{
	width:90%;
	height:auto;
	padding:0.5rem 1rem 0.5rem 2rem;
	margin:2px 0px 2px 0px;
	font-variant:small-caps;
	font-size:1.2rem;
	cursor: pointer;
}
