body{
	background-color:#e0e2e5;
	min-width:512px;
}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}

#contactError,
#loginResult{
	color:red;
	font: bold;
}

/* ///////////////////////////////// */
/* Login/Register Page  */
/* ///////////////////////////////// */

#loginContainer{
	background-color:#b8babc;
	border:3px solid #eeeeee;
	border-radius:15px;
	margin-top:10%;
	margin-bottom:auto;
	text-align: center;
	
	visibility:visible;
	display:block;
	
	min-width:320px;
	max-width:600px;
}
#loginContainer label{
	display: block;
}

#loggedInContainer{
	text-align: center;
}

#ContactSearch{
	text-align: center;
}

.Reg{
	visibility:hidden;
}

.SignIn{
	visibility:visible;
}


#SignHyper,
#RegHyper{
	margin: 0 30px 0 30px;

}
#loginButton{
	margin: 0 30px 0 30px;
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
	font-weight:bold;
	color:white;
}





/* ///////////////////////////////// */
/* Contact Page  */
/* ///////////////////////////////// */

#contactError{
	color:red;
	font-weight: bold;
	font-size: 0.8rem;
}

#contactPageContainer{
	visibility:hidden;
	display:none;
	background-color:#dddddd;
	height: 100%;
	
	border-right: 3px #bbbbbb solid;
	border-left: 3px #bbbbbb solid;
}

#contactSearchArea{
	margin:0px; 
	height: auto;	
	
	padding:1rem 0.5rem 0.2rem 0.5rem;
	/* border-style: solid;
	border-color: black;
	border-width: 0px 1px 0px 1px;
	border-radius: 0em 0em 0 0; */
}

#contactFieldsArea{
  max-height: 40rem;

}

#contactFields{
	height:1.7rem
}

#contactHeader
{
	font-size: 1.5rem;
	font-weight: bold;
	padding:0.2rem 3rem 0.3rem;
	max-height: 3rem;
	height:auto;
}
#contactHeader #userFullName
{
	font-size: 1.5rem;
	font-weight: bold;
	color:#526b93;
	
}

.coloumn{	
	/*padding: 0 1rem 0 1rem;*/
}

#inputSearch{
	margin-bottom: 0.5rem;
}

#contactViewer{
	min-height:14rem;
	max-height:14rem;
	padding: 0.5rem;
	
	/* border-style: solid;
	border-color: black;
	border-width: 0px 1px 0px 1px;
	border-radius: 0em 0em 0 0; */
}
#contactViewer span{
	width=100%;
}
#contactViewer span[fill="name"]{
  font-size: 2rem;
  font-weight: bold;
  
}
#contactViewer span[fill="phone"],
#contactViewer span[fill="email"]{
  font-size: 1rem;
  color:gray;
  font-weight: italic;  
}
#contactViewer span[fill="phone"]::before{
	content:"☎️: ";
}
#contactViewer span[fill="email"]::before{
	content:"📧: ";
}

#contactViewer span[fill="address"]{
  font-size: 1.2rem;
  font-weight: italic; 
 
}
#contactViewer span[fill="address"]::before{
	content:"🏠: ";
}
#contactViewer span[fill="city"]{
  font-size: 1.2rem;
  font-weight: italic;  
}
#contactViewer span[fill="city"]::before{
	content:"🏙: ";
}
#contactViewer span[fill="state"]{
  font-size: 1.2rem;
  font-weight: italic;  
}
#contactViewer span[fill="state"]::before{
	content:"🇺🇸: ";
}
#contactViewer span[fill="zipcode"]{
  font-size: 1.2rem;
  font-weight: italic;  
}
#contactViewer span[fill="zipcode"]::before{
	content:"zip: ";
}

#contactListBox{
	padding-top:1rem;
	overflow-y: scroll;
	min-height:17rem;
	max-height:
	height: calc(100% - 14rem);
	height: -moz-calc(100% - 14rem);
	height: -webkit-calc(100% - 14rem);
	
	
	/*
	max-height: 30rem;
	height: calc(100% - 14rem);
	height: -moz-calc(100% - 14rem);
	height: -webkit-calc(100% - 14rem);
	*/
}

.contactFields
{
	margin: 0px 0 5px 0;
	
}

.contactCard
{
	width:90%;
	height:auto;
	padding:0.5rem 1rem 0.5rem 2rem;
	margin:2px 0px 2px 0px;
	font-variant:small-caps;
	font-size:1.2rem;
	cursor: pointer;
}
